# ignore everything by default
*
/khatoon_shared
/khatoon_container
/khatoon_modules
# but keep these
!.gitignore
!README.md
!pubspec.yaml
!lib/
!assets/

# ignore common generated and IDE files nonetheless (safety)
.dart_tool/
.build/
build/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
.vscode/

